@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
    box-sizing: border-box;
}

.block.register {
    background-color: rgb(120, 176, 231);
}

body.active {
    background-color: rgb(80, 200, 120)
}

body.active1 {
    background-color: rgb(49, 140, 231);
}

.body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 87, 143);
    background-blend-mode: difference;
    transition: 1s;
}

.mainblock {
    width: 800px;
    height: 500px;
    padding: 40px 0;
    position: relative;
}

.block {
    height: 100%;
    background-color: rgb(255, 255, 255 0.2);
    box-shadow: 0px 5px 55px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.block__item {
    width: 50%;
}

.block-item {
    text-align: center;
}

.block_item_title {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(27, 129, 32);
    margin-bottom: 20px;
    background-color: aqua;
}

.button,
.buttonreg {
    border: none;
    cursor: pointer;
    padding: 7px 20px;
    background-color: rgba(34, 211, 218, 0.8);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgb(0, 0, 0, 0.2);
}

.register {
    background-color: rgb(0);
    height: 100%;
    width: 400px;
    font-size: 1.2rem;
    font-weight: 400;
}

.blockhiddenreg {
    display: none;
}

.blockhidden {
    display: none;
}

.b-showreg {
    width: 50%;
    height: 100%;
    display: block;
    top: 0;
    display: inline-block;
    align-items: center;
    right: 0;
    position: absolute;
    z-index: 1000;
    animation: showBlock 0.2s linear forwards;
    background-color: rgb(49, 140, 231);
    box-shadow: 2px 2px 16px black;
}

.b-showlogin {
    width: 50%;
    height: 100%;
    top: 0;
    display: inline-block;
    align-items: center;
    left: 0;
    position: absolute;
    z-index: 1000;
    animation: showBlock 0.2s linear forwards;
    background-color: rgb(80, 200, 120);
    box-shadow: 2px 2px 16px black;
}

@keyframes showBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.formlogin {
    width: 50%;
    padding: 50px;
    font-size: 16px;
}

.formreg {
    width: 50%;
    padding: 50px;
    font-size: 16px;
}

.form_title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

.form_input {
    width: 100%;
    padding: 10px;
    border: solid 1px #333;
    font-size: inherit;
}

.form_btn_login {
    cursor: pointer;
    font-size: inherit;
    background-color: rgb(49, 140, 231);
    border-width: 1px;
    border-color: black;
}

.form_btn_reg {
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: rgb(80, 200, 120);
    color: #333;
    border-radius: 4px;
}
.form_btn_login {
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: rgb(80, 142, 200);
    color: rgba(255, 255, 255, 0.719);
    border-radius: 4px;

}

.form_forgot {
    display: block;
    margin-top: 5px;
    color: #333;
}