

.center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* height: calc(100vh - 5vh); */
    padding-top:20px; /* Отступ сверху */
}

.box {
    
    background-color: rgb(31, 31, 31);
    border-radius:25px;
    padding:20px;
    border:1px solid rgb(66,66,66);
    /* width:calc(50% - (40px + (2 *1px))); */
    min-width: 1000px; /* Добавление минимальной ширины */
    position: relative;
    max-width: 1000px;
}

.profile {
    display:flex;
}

.avatar {
    width:300px; /* Увеличение размера аватара */
    height:300px; /* Увеличение размера аватара */
    border-radius:50%;
    overflow:hidden;
    object-fit: cover;
}

.avatarblock {
    display: flex;
    height: 310px;

}

.text {
    display:flex; /* Изменение свойства display с block на flex */
    flex-direction: column;
    margin-left:40px; /* Увеличение отступа слева */
    margin-top: 50px;
}


.nickname {
    font-size:40px; /* Увеличение размера шрифта */
    color:white;
    font-family:Verdana;

     /* Добавление отступа снизу */

     display:inline-block; /* Добавление inline-block для выравнивания с рейтингом */
}

.rating { /* Добавление стилей для рейтинга */
    font-size:29px; 
    color:white;
    font-family:Verdana;
    margin-right:0; /* Удаление отступа справа */
}

.rating::after { /* Добавление иконки звезды после рейтинга */
   content:'\2605';
   margin-left:5px;
   font-size:29px; 
   color:white;
}

.name {
    font-size:29px; /* Увеличение размера шрифта */
    color:white;
    font-family:Garamond;
}


.logout-button,
.edit-button
{
    background-color: rgb(31, 31, 31);
    border-radius:15px;
    border-style:solid;
    border-width:1px;
    border-color:rgb(41,41,41);
    
     margin-left:10px;
     color:white;
     font-family:Verdana;
     padding:10px;

}
.logout-button:hover,
.edit-button:hover {
     background-color :rgb(41,41,41);
     cursor:pointer;

}
.bottons {
     position:absolute;/* Добавление абсолютного позиционирования*/
     top :10px;/* Отступ сверху*/
     right :10px;/* Отступ справа*/
}

.description {
     font-size :16px;/* Увеличение размера шрифта*/
     color:white;
     font-family :Verdana;
     word-wrap: break-word;

}


.textarea-inputs {
background-color : rgb(31,31,31);
width :100%;
color:white;
font-size :30px;
overflow :inherit;
resize:none;
border:1px solid rgb(150,150,150);
border-radius: 15px;
}
@media (max-width :412px) {
.box {
width :70%;/* Установите ширину на 90%, чтобы оставить немного пространства по краям*/
min-width :0;/* Установите минимальную ширина на 0, чтобы она не превышала ширину экрана*/
}
}
[data-unselectable]::after {
content :attr(data-unselectable);
}